@{
    Layout = "_Layout";
}

@model IEnumerable<TestApp.Models.EquipmentItemModel>

<ul>
    <table>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Name </td>
            <td> @item.Type.ToString() </td>
            <td> (@Html.ActionLink("Details", "Details", "Equipment", new { id = @item.Id }, null)) </td>
        </tr>  
    }
    </table>
</ul>