@{
    Layout = "_Layout";
}

@model IEnumerable<TestApp.Models.OrderItemModel>

<ul>
    <table>
        @foreach (var item in Model)
        {
            <tr>

            @using (Html.BeginForm("Remove", "Cart", new { id = item.Id }, FormMethod.Post, true, null))
            {
                <td> @item.EquipmentItemModel.Name </td>
                <td> @item.EquipmentItemModel.Type.ToString() </td>
                <td> <input type="submit" value="Remove" /> </td>
            }
            </tr>
        }
        
    </table>
    @Html.ActionLink("ShowInvoice", "ShowInvoice", "Cart")
</ul>