@{
    Layout = "_Layout";
}

@model IEnumerable<TestApp.Models.OrderItemModel>

<ul>
    @foreach (var item in Model) 
    {
        // TODO: fix lazy joins on every loop iteration with equipments table
        <li> 
            @using (Html.BeginForm("Remove", "Cart", new {id=item.Id}, FormMethod.Post, true, null))
            {
                <div>
                    @item.EquipmentItemModel.Name - @item.EquipmentItemModel.Type.ToString() 
                    <input type="submit" value="Remove" />
                </div>
            }
        </li>
    }
</ul>