<!DOCTYPE html>

<html>
<head>
    <title>My store</title>
</head>
<body>
    
    <div id="header">
        <h1>Equipment Rent</h1>
        @Html.ActionLink("Products", "List", "Equipment")
        @Html.ActionLink("Cart", "Index", "Cart")
    </div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        <p>2019</p>
    </div>

</body>
</html>