<!DOCTYPE html>

<html>
<head>
    <title>Store</title>
</head>
<body>

    <div id="header">
        <h1>Equipment Rent</h1>
        @Html.ActionLink("Products", "List", "Equipment")
        @Html.ActionLink("Cart", "Index", "Cart")
        @(User.Identity.IsAuthenticated ? Html.ActionLink("Logout", "Logout", "Account") : Html.ActionLink("Login", "Login", "Account"))

    </div>
    
    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        <p>Your adds can be here</p>
    </div>

</body>
</html>